<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"> -->
    <!-- <script src="../js/jquery-latest.min.js"></script> -->

    <!-- stylesheet -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
    </style>
    <link rel="stylesheet" href="static/css/dashstyle.css" />
  </head>
  <body>
    <div class="window">
      <div class="main">
        <table id="tb">
          <tbody>
            <tr class="top">
              <td id="top-left-location">1층 리빙랩</td>
              <td id="top-right-live">
                <i
                  class="fas fa-circle"
                  style="color: greenyellow; font-size: 15px"
                ></i>
                Live
              </td>
            </tr>
            <tr>
              <td id="top-left-date"></td>
              <td id="top-right-weather">
                <i class="fas fa-cloud-sun" style="font-size: 50px"></i> 23°C
              </td>
            </tr>
            <tr>
              <td id="current-time" colspan="2"></td>
            </tr>
            <tr>
              <td id="status" colspan="2"></td>
            </tr>
            <tr>
              <td id="estimate" colspan="2"></td>
            </tr>
            <tr>
              <td id="confidence" colspan="2">정확도:</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="sub">
        <table>
          <tbody>
            <tr>
              <td id="thirdfloor" colspan="1">3F</td>
              <td id="thirdfloor-dash" colspan="2"><hr width="103%" /></td>
            </tr>
            <tr>
              <td></td>
              <td id="laundry">세탁실</td>
              <td id="laundry-icon">
                <i class="fas fa-user-alt"></i>
              </td>
            </tr>
            <tr>
              <td></td>
              <td id="kitchen-301">301 간이주방</td>
              <td id="kitchen-301-icon">
                <i class="fas fa-user-alt"></i>
              </td>
            </tr>
            <tr>
              <td></td>
              <td id="kitchen-302">302 간이주방</td>
              <td id="kitchen-302-icon"><i class="fas fa-user-alt"></i></td>
            </tr>
            <tr>
              <td id="secondfloor" colspan="1">2F</td>
              <td id="secondfloor-dash" colspan="2"><hr width="103%" /></td>
            </tr>
            <tr>
              <td></td>
              <td id="homestudio">홈스튜디오</td>
              <td id="homestudio-icon">
                <i class="fas fa-users"></i>
              </td>
            </tr>
            <tr>
              <td></td>
              <td id="kitchen-201">201 간이주방</td>
              <td id="kitchen-201-icon">
                <i class="fas fa-user-alt"></i>
              </td>
            </tr>
            <tr>
              <td></td>
              <td id="kitchen-202">202 간이주방</td>
              <td id="kitchen-202-icon">
                <i class="fas fa-user-alt"></i>
              </td>
            </tr>

            <tr>
              <td id="firstfloor" colspan="1">1F</td>
              <td id="thirdfloor-dash" colspan="2"><hr width="103%" /></td>
            </tr>
            <tr>
              <td></td>
              <td id="kitchen">공용주방</td>
              <td id="kitchen-icon">
                <i class="fas fa-users"></i>
              </td>
            </tr>

            <tr>
              <td></td>
              <td id="lounge">라운지</td>
              <td id="lounge-icon">
                <i class="fas fa-users"></i>
              </td>
            </tr>

            <tr>
              <td id="basement" colspan="1">B1</td>
              <td id="basement-dash" colspan="2"><hr /></td>
            </tr>
            <tr>
              <td></td>
              <td id="gym">헬스장</td>
              <td id="gym-icon">
                <i class="fas fa-user-alt"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script>
    function updateClock() {
      var now = new Date(); // current date
      var months = [
        "1월",
        "2월",
        "3월",
        "4월",
        "5월",
        "6월",
        "7월",
        "8월",
        "9월",
        "10월",
        "11월",
        "12월",
      ];
      var time =
        "현재시간: " + now.getHours() + "시 " + now.getMinutes() + "분"; // again, you get the idea

      var date =
        now.getFullYear() +
        "년 " +
        months[now.getMonth()] +
        " " +
        now.getDate() +
        "일";
      // set the content of the element with the ID time to the formatted string
      document.getElementById("top-left-date").innerHTML = date;
      document.getElementById("current-time").innerHTML = time;

      
      var status = {{name}};

      if (status == 0) {
        // 비었다고 하고 배경을 크림색으로 바꾼다
        document.getElementById("status").innerHTML = "비었어요";
        document.getElementById("tb").style.backgroundColor = "ivory";
        document.getElementById("tb").style.color = "black";
        // 몇 명인지 표시 
        document.getElementById("estimate").innerHTML = "예측값: 0명";
        // 정확도 표시 
        document.getElementById("confidence").innerHTML = "정확도: " + '{{precision}}' + '%';
      } else if (status == 1) {
        // 널널하다를 넣고 배경을 초록색으로 바꾼다
        document.getElementById("status").innerHTML = "널널해요";
        document.getElementById("tb").style.backgroundColor = "green";
        document.getElementById("tb").style.color = "white";
        // 몇 명인지 표시 
        document.getElementById("estimate").innerHTML = "예측값: 1명";
        // 정확도 표시 
        document.getElementById("confidence").innerHTML = "정확도: " + '{{precision}}' + '%';
      } else {
        // 북적북적 넣고 배경을 보라색으로
        document.getElementById("status").innerHTML = "북적북적";
        document.getElementById("tb").style.backgroundColor = "blueviolet";
        document.getElementById("tb").style.color = "white";
        // 몇 명인지 표시 
        document.getElementById("estimate").innerHTML = "예측값: 여러명";
        // 정확도 표시 
        document.getElementById("confidence").innerHTML = "정확도: " + '{{precision}}' + '%';
      }

      // call this function again in 500ms
      setTimeout(updateClock, 500);
    }
    updateClock(); // initial call
  </script>
</html>
