<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"> -->
  <!-- <script src="../js/jquery-latest.min.js"></script> -->

  <!-- stylesheet -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
  </style>
  <link rel="stylesheet" href="static/css/dashstyle.css" />
</head>

<body>
  <div class="window">
    <div class="main">
      <table id="tb">
        <tbody>
          <tr class="top">
            <td id="top-left-date"></td>
            <td id="top-right-live">
              <i class="fas fa-circle" style="color: greenyellow; font-size: 15px; vertical-align: middle;"></i>
              Live
            </td>
          </tr>
          <tr>
            <td id="current-time"></td>
            <td id="count">
              <p id="current"></p>
              <p id="prev"></p>
            </td>
          </tr>
          <tr>
            <td id="top-left-location" colspan="2">1층 공용주방</td>
          </tr>
          <tr>
            <td id="status" colspan="2"></td>
          </tr>
          <tr>
            <td id="estimate" colspan="2"></td>
          </tr>
          <tr>
            <td id="confidence" colspan="2">정확도:</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="sub">
      <table id="history">
        <!-- table add goes here -->
      </table>
    </div>
  </div>
</body>
<script type="application/javascript">
  // Create a constructor for the fixed-length queue. This is
  // really more of a FACTORY than a construtor since an
  // entirely tangential object is returned.
  function FixedQueue(size, initialValues) {

    // If there are no initial arguments, default it to
    // an empty value so we can call the constructor in
    // a uniform way.
    initialValues = (initialValues || []);

    // Create the fixed queue array value.
    var queue = Array.apply(null, initialValues);

    // Store the fixed size in the queue.
    queue.fixedSize = size;

    // Add the class methods to the queue. Some of these have
    // to override the native Array methods in order to make
    // sure the queue lenght is maintained.
    queue.push = FixedQueue.push;
    queue.splice = FixedQueue.splice;
    queue.unshift = FixedQueue.unshift;

    // Trim any initial excess from the queue.
    FixedQueue.trimTail.call(queue);

    // Return the new queue.
    return (queue);

  }

  // I trim the queue down to the appropriate size, removing
  // items from the beginning of the internal array.
  FixedQueue.trimHead = function () {

    // Check to see if any trimming needs to be performed.
    if (this.length <= this.fixedSize) {
      // No trimming, return out.
      return;
    }

    // Trim whatever is beyond the fixed size.
    Array.prototype.splice.call(
      this,
      0,
      (this.length - this.fixedSize)
    );

  };


  // I trim the queue down to the appropriate size, removing
  // items from the end of the internal array.
  FixedQueue.trimTail = function () {

    // Check to see if any trimming needs to be performed.
    if (this.length <= this.fixedSize) {
      // No trimming, return out.
      return;
    }

    // Trim whatever is beyond the fixed size.
    Array.prototype.splice.call(
      this,
      this.fixedSize,
      (this.length - this.fixedSize)
    );

  };


  // I synthesize wrapper methods that call the native Array
  // methods followed by a trimming method.
  FixedQueue.wrapMethod = function (methodName, trimMethod) {

    // Create a wrapper that calls the given method.
    var wrapper = function () {

      // Get the native Array method.
      var method = Array.prototype[methodName];

      // Call the native method first.
      var result = method.apply(this, arguments);

      // Trim the queue now that it's been augmented.
      trimMethod.call(this);

      // Return the original value.
      return (result);
    };

    // Return the wrapper method.
    return (wrapper);
  };


  // Wrap the native methods.
  FixedQueue.push = FixedQueue.wrapMethod(
    "push",
    FixedQueue.trimHead
  );

  FixedQueue.splice = FixedQueue.wrapMethod(
    "splice",
    FixedQueue.trimTail
  );

  FixedQueue.unshift = FixedQueue.wrapMethod(
    "unshift",
    FixedQueue.trimTail
  );
</script>
<script type="application/javascript">
  function updateClock() {
    var now = new Date(); // current date
    var months = [
      "1월",
      "2월",
      "3월",
      "4월",
      "5월",
      "6월",
      "7월",
      "8월",
      "9월",
      "10월",
      "11월",
      "12월",
    ];
    var time =
      now.getHours() + "시 " + now.getMinutes() + "분 " + now.getSeconds() + "초"; // again, you get the idea

    var date =
      now.getFullYear() +
      "년 " +
      months[now.getMonth()] +
      " " +
      now.getDate() +
      "일";
    // set the content of the element with the ID time to the formatted string
    document.getElementById("top-left-date").innerHTML = date;
    document.getElementById("current-time").innerHTML = time;


    // var status = {{name}};
    // var data = JSON.parse(xhr.responseText);
    // console.log(data.nop_1, data.precision_1);

    // call this function again in 500ms
    setTimeout(updateClock, 1000);
  }

  let history = FixedQueue(15, [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]);
  let count = 1;
  let prev = 0;

  function updateStatus() {
    $.ajax({
      type: "GET",
      url: 'http://13.125.216.41:5000/api2',
      dataType: 'json',
      success: function (data) {
        // console.log(data.nop_1, data.precision_1);
        var nop1 = data.nop_1;
        var prec1 = data.precision_1;

        if (nop1 == 0) {
          // 비었다고 하고 배경을 크림색으로 바꾼다
          document.getElementById("status").innerHTML = "비었어요";
          document.getElementById("tb").style.backgroundColor = "ivory";
          document.getElementById("tb").style.color = "black";
          // 몇 명인지 표시 
          document.getElementById("estimate").innerHTML = "예측값: 0명";
          // 정확도 표시 
          document.getElementById("confidence").innerHTML = "정확도: " + prec1 + '%';
        } else if (nop1 == 1) {
          // 널널하다를 넣고 배경을 초록색으로 바꾼다
          document.getElementById("status").innerHTML = "널널해요";
          document.getElementById("tb").style.backgroundColor = "green";
          document.getElementById("tb").style.color = "white";
          // 몇 명인지 표시 
          document.getElementById("estimate").innerHTML = "예측값: 1명";
          // 정확도 표시 
          document.getElementById("confidence").innerHTML = "정확도: " + prec1 + '%';
        } else {
          // 북적북적 넣고 배경을 보라색으로
          document.getElementById("status").innerHTML = "북적북적";
          document.getElementById("tb").style.backgroundColor = "blueviolet";
          document.getElementById("tb").style.color = "white";
          // 몇 명인지 표시 
          document.getElementById("estimate").innerHTML = "예측값: 여러명";
          // 정확도 표시 
          document.getElementById("confidence").innerHTML = "정확도: " + prec1 + '%';
        }

        history.unshift(nop1);

        if (nop1 == history[1]) {
          count = count + 1;
        }
        else {
          prev = count;
          count = 1;
        }

        document.getElementById("prev").innerHTML = "Prev:&nbsp&nbsp" + prev;
        document.getElementById("current").innerHTML = "Current: " + count;

        var histcontent = "";
        $.each(history, function (rowNumber, rowData) {
          if (rowData == 0) {
            if (rowNumber == 0) {
              histcontent += "<tr class=\"nop0\" style=\" background-color: ivory; color: black;\">";
              histcontent += "<td><i class='fas fa-carrot' style='margin-left: -46px;'></i>&nbsp&nbsp&nbsp&nbsp" + rowData + "</td>";
              histcontent += "</tr>";
            }
            else {
              histcontent += "<tr class=\"nop0\" style=\" background-color: ivory; color: black;\">";
              histcontent += "<td>" + rowData + "</td>";
              histcontent += "</tr>";
            }
          }
          else if (rowData == 1) {
            if (rowNumber == 0) {
              histcontent += "<tr class=\"nop1\" style=\" background-color: green; color: white;\">";
              histcontent += "<td><i class='fas fa-carrot' style='margin-left: -46px;'></i>&nbsp&nbsp&nbsp&nbsp" + rowData + "</td>";
              histcontent += "</tr>";
            }
            else {
              histcontent += "<tr class=\"nop1\" style=\" background-color: green; color: white;\">";
              histcontent += "<td>" + rowData + "</td>";
              histcontent += "</tr>";
            }
          } else {
            if (rowNumber == 0) {
              histcontent += "<tr class=\"nop2\" style=\" background-color: blueviolet; color: white;\">";
              histcontent += "<td><i class='fas fa-carrot' style='margin-left: -46px;'></i>&nbsp&nbsp&nbsp&nbsp" + rowData + "+</td>";
              histcontent += "</tr>";
            }
            else {
              histcontent += "<tr class=\"nop2\" style=\" background-color: blueviolet; color: white;\">";
              histcontent += "<td>" + rowData + "+</td>";
              histcontent += "</tr>";
            }
          }
        });
        $('#history').html(histcontent);


      }
    });
    setTimeout(updateStatus, 30000);
  }

  updateClock(); // initial call
  updateStatus();
</script>

</html>